@{
    ViewData["Title"] = "Home Page";
}

<div class="container-img">
    <img src="~/img/cabinclouds.jpg" alt="pueblo" style="width:100%;">
    <div class="top-left">Ha llegado la hora...</div>
    <div class="centered">¡Prueba la vida en el pueblo!</div>
    <div class="boton-home">

        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-Primary btn-lg btn btn-primary" role="button">Regístrate y descubre las estancias disponibles</a>

    </div>
</div>
